body{
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4f90c5, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mono-font{
    font-family: 'Ubuntu Mono', monospace;
    
}

hr{
    width: 1300px;
    align-items: center;
    color: black;
}

.name{
    font-size: 30px;
}

.content{
    border: 10px;
}

.blocks{
    border-radius: 25px;
    height: 600px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table,th,td{
    border: 1px solid black;
    padding:auto;
}


